

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load('visualization', '1', {'packages':['motionchart']});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'name');
        data.addColumn('date', 'Date');
        data.addColumn('number', 'Sales');
        data.addColumn('number', 'Messages');
        data.addColumn('string', 'Location');
        data.addRows([
          ['Inbox',new Date (2011,0,1),1000,<%= @messages.count %>,'East'],
          ['Sent',new Date (2011,0,1),1150,200,'West'],
          ['Pending',new Date (2011,0,1),300,250,'West'],
          ['Inbox',new Date (2011,6,1),1200,<%= @messages.count %>,'East'],
          ['Sent',new Date (2011,6,1),750,150,'West'],
          ['Pending',new Date (2011,6,1),788,617,'West']
          ]);
        var chart = new google.visualization.MotionChart(document.getElementById('chart_div'));
        chart.draw(data, {width: 600, height:300});
      }
    </script>


    
  
<div class="table">
<ul class="from">
<li class="title">From</li>
<% @messages.each do |message|%>
<li class="even"><%= sender(message.sender_id).first_name %></li>
<% end %>
</ul>
<ul class="subject">
<li class="title">Subject</li>
<% @messages.each do |message|%>
<li class="even"><%= link_to message.subject, message_path(:id => message.id, :return_url => request.request_uri) %></li>
<% end %>
</ul>
<ul class="send_at">
<li class="title">Send at</li>
<% @messages.each do |message|%>
<li class="even"><%= message.created_at.to_date %></li>
<% end %>
</ul>
<ul class="status">
<li class="title">Status</li>
<% @messages.each do |message|%>
<li class="even"><% if message.status == 0%> Unread <% else %> Read <% end %></li>
<% end %>
</ul>
</div>
<br><br><br><br>
<div id="chart_div" style="width: 600px; height: 300px;"></div>
