<% if user_signed_in? %>
  <li>
  <%= link_to('Home', locals_path) %> &nbsp;&nbsp;       
  </li>
  <li>
  <%= link_to('Facebook Wall', wall_facebooks_path) %>  &nbsp;&nbsp;      
  </li>
  <li>
  <%= link_to('Blog Post', post_path(:id => 7)) %>     &nbsp;&nbsp;   
  </li>
  <li>
  <%= link_to('Album', albums_path) %>        &nbsp;&nbsp;
  </li>
  <li>
  <%= link_to('Logout', destroy_user_session_path, :method => 'delete') %>   &nbsp;&nbsp;     
  </li>
<% else %>
  <h2> Welcome To Phantom!</h2>
<% end %>