<%= form_for(@comment) do |f| %>
<h2> Make A Comment </h2> <br><br>
Name :&nbsp;&nbsp;&nbsp;<%= text_field_tag :name, "", :size => 46, :maxlength => 30 %> <br><br>
Comment :<br>
&nbsp;&nbsp;&nbsp;<%= f.text_area :comment, :rows => 8, :cols => 65, :maxlength => 200%> <br><br>
<%= f.hidden_field :post_id, :value => @post.id %>
<%= f.hidden_field :user_id, :value => current_user.id %>
<%= f.hidden_field :commentable_type, :value => "normal" %>
<%= f.submit "Post Comment"%>

<% end %>
