
<!DOCTYPE html>
  <head>
    <title>Devise App</title>
    <%= stylesheet_link_tag 'style','jquery-ui-1.8.16.custom'%>
    <%= javascript_include_tag 'jquery-1.4.4.min', 'jquery-ui-1.8.7.min', 'ajax','application', 'jquery.tag.min.js'%>
	<%= stylesheet_link_tag	'jquery.tag.css', 'jquery-ui.custom.css' %>
    <%= csrf_meta_tag %>
  </head>
  <body bgcolor="#E6E6FA">
		<div class="tag_image">
		<%= image_tag @album.album.url(:medium), :id => "img" %> 
		
		</div>
<script>
		$(document).ready(function(){		
			$("#img").tag({
				save: function(width,height,top_pos,left,label,the_tag){
					$.ajax({
							  type: 'POST',
							  url: "/albums/add_tag?label=" + label + "&width=" + width + "&height=" + height + "&top=" + top_pos + "&left=" + left + "&user_id=" + <%= @album.user_id%> + "&album_id=" + <%= @album.id%>,
							  timeout: 2000,
							  dataType: "json",
							  error: function(XMLHttpRequest, errorTextStatus, error){
							  			alert("Failed to submit : "+ errorTextStatus+" ;"+error);
							           },
							  success: function(id){
												the_tag.setId(id);
											}
						});
				},
				remove: function(id){
					$.ajax({
							  type: 'GET',
							  url: "/albums/remove_tag?id=" + id ,
							  timeout: 2000,
							  dataType: "json",
							  
						});
				}
			});
			
			$.getJSON("/albums/show_tag?&user_id=" + <%= @album.user_id%> + "&album_id=" + <%= @album.id%>,{},function(tags){
				$.each(tags, function(key,tag){ alert(tag.jtag.width);
					$("#img").addTag(tag.jtag.width,tag.jtag.height,tag.jtag.top,tag.jtag.left,tag.jtag.label,tag.jtag.id);
				});
			});
			
		});

		
	</script>
  </body>
</html>